<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" th:href="@{/css/message.css}">
</head>

<body>
  <main>
     <div class="content">
        <section class="header">
           <h2>Invite: House Welcoming Party</h2>
           <section>
             <img width="40" height="40">
             <div class="info">
                <section class="sub">
                  <span>Elrod</span>
                  <span>fakorodehenry@gmail.com</span>
                </section>
             </div>
             
             <div class="action">
               <section class="btns">
                 <button>
                   <span class="material-symbols-outlined">more_vert</span>
                 </button>
                 
               </section>
               
               <section class="log">
                 <span>Sep 23, 2025</span>
                 <span>08:45 PM</span>
               </section>
               
             </div>
             
           </section>
        </section>
        
        <div class="line"></div>
        
        <div class="message">
          We're coming back to Rivendell Turns out the sea sucks and we got bored of swing round all diy Join us for a house warming party this friday! Things kick off with some fireworks at 9pm. We're gonna party like it's the Third Age BYOB and for the love of all that is sacred in this world, please do not let Galadriel know you are coming
        </div>
        
        <div class="footer">
          <button>
            <span class="material-symbols-outlined">reply</span>
            <span>Reply</span>
          </button>
          
          <button>
            <span class="material-symbols-outlined">reply_all</span>
            <span>Reply all</span>
          </button>
          
          <button>
            <span>Forward</span>
            <span class="material-symbols-outlined">arrow_forward</span>
          </button>
        </div>
     </div>
  </main>
</body>

</html>